<!DOCTYPE html>
<html>
<head>
    <title>Hangman - Imie Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/imiegame/css/main.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/imiegame/css/icons.css') }}" type="text/css" media="all" />
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('bundles/imiegame/images/favicon.ico') }}" />
</head>
<body>
<div id="container">
    <div id="header">
        <div id="bar">
            <div id='red'></div><div id='blue'></div><div id='green'></div><div id='orange'></div><div id='blue2'></div><div id='pink'></div>
        </div>
        <div class="content">
            <div id="title">
                <h1>Hangman</h1>
                <h2>Imie Game</h2>
            </div>
            {%  if app.session.get('playername') %}
                <a id="logout" href="{{ path('imie_game_logout') }}">
                    <i class="icon-cross"></i>
                    <p>Se déconnecter</p>
                </a>
            {% endif %}
        </div>
    </div>
    <div id="content">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash_notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash_error">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="footer">
        <div class="content">
        </div>
    </div>
</div>
